<footer class="footer">
    <div class="top-items">
        <div class="left-span">
            <img src="./img/icon.svg" >
            <span>电子魅魔</span>
        </div>
        <div class="mddile-span">
            <a href="/">首页</a>
            <a href="/#">Telegram 交流群</a>
            <a href="/#">Telegram 机器人</a>
            <a href="/#">联系开发者</a>
        </div>
        <div class="mddile-span">
            <a href="/">法律</a>
            <a href="/#">Privacy Policy</a>
            <a href="/#">Terms of Use</a>
        </div>
    </div>
    <div class="bottom-text">
        电子魅魔 2024 | 云酒馆，Claude，角色扮演。
    </div>
</footer>