<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>|酒馆Claude，角色扮演，情感陪聊，文字爱情</title>
    <link rel="icon" href="/img/favicon.ico" >
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body class="bg-black">
    <%- include('header'); -%>
    <main>
        <div class="container">
            选择界面
        </div>
    </main>
    <%- include('footer'); -%>
</body>
<script src="/js/signin.js"></script>
</html>