<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>|酒馆Claude，角色扮演，情感陪聊，文字爱情</title>
    <link rel="icon" href="/img/favicon.ico" >
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body class="bg-black">
    <nav>
        <div class="navbar">
            <div class="left-span">
                <img src="./img/icon.svg" >
            </div>
            <div class="mddile-span">
                <a href="/select">首页</a>
                <a href="/account">账户</a>
            </div>
            <div class="right-span">
                <a href="/logout">登出</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="top-image">
                <img src="./img/icon.svg" >
            </div>
            <button class="btn github">
                <img src="./img/github.svg" />
                Sign in Github
            </button>
            <div class="divider"></div>
            <form action="/signin" method="post">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input placeholder="Your email address" type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Your password:</label>
                    <input placeholder="Your password" type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="top-items">
            <div class="left-span">
                <img src="./img/icon.svg" >
                <span>电子魅魔</span>
            </div>
            <div class="mddile-span">
                <a href="/">首页</a>
                <a href="/#">Telegram 交流群</a>
                <a href="/#">Telegram 机器人</a>
                <a href="/#">联系开发者</a>
            </div>
            <div class="mddile-span">
                <a href="/">法律</a>
                <a href="/#">Privacy Policy</a>
                <a href="/#">Terms of Use</a>
            </div>
        </div>
        <div class="bottom-text">
            电子魅魔 2024 | 云酒馆，Claude，角色扮演。
        </div>
    </footer>
</body>
<script src="/js/signin.js"></script>
</html>